<% include header.html %>

<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline'"
     id="appLayout">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'"
         id="banner" class="edgePanel">
        <!--网站元素分析系统-->
    </div>
    <div data-dojo-type="dijit/layout/BorderContainer" id="navigation" class="edgePanel"
         data-dojo-props="region: 'left', splitter: true">
        <div data-dojo-type="dijit/layout/BorderContainer" id="findSite"
             data-dojo-props="region: 'top'">
            <div data-dojo-type="dijit/layout/ContentPane" id="findLeft"
                 data-dojo-props="region: 'left'">
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" id="siteToFind"
                 data-dojo-props="region: 'center'">
                <input data-dojo-type="dijit/form/TextBox" id="txtSiteToFind"
                       data-dojo-props="trim:true"
                       type="text" value="" style="background:transparent;height:20px;margin-top:3px;border:0"/>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" id="siteFind"
                 data-dojo-props="region: 'right'">
                <button data-dojo-type="dijit/form/Button"
                        data-dojo-props="iconClass:'findIcon', showLabel: false"
                        id="doSiteFind" type="button">查找
                    <script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
                        if (txtSiteToFind.value=="") return;

                        var sites = myTree.rootNode.getChildren();
                        for (var i in sites) {
                            var site = sites[i];
                            if (site.item.name.contains(txtSiteToFind.value, true)) {
                                siteName.set("content", "<strong>"+site.item.name+"</strong>");
                                myTree.set("paths", [["root", site.item.id]]).then(function(){myTree.focus()});
                                break;
                            }
                        }
                    </script>
                </button>
            </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" id="siteTree"
             data-dojo-props="region: 'center'">
            <!-- Create the store -->
            <div data-dojo-type="dojo/store/JsonRest" data-dojo-id="sitesStore"
                 data-dojo-props="target: '/sites/'">
                <script type="dojo/method" data-dojo-event="getChildren" data-dojo-args="object">
                    return this.get(escape(object.id)).then(function(fullObject){
                        return fullObject.children;
                    });
                </script>
            </div>
            <!-- Create the model bridging the store and the Tree -->
            <div data-dojo-type="dijit/tree/ObjectStoreModel" data-dojo-id="sitesModel"
                 data-dojo-props="store: sitesStore">
                <script type="dojo/method" data-dojo-event="getRoot" data-dojo-args="onItem">
                    this.store.get("root").then(onItem);
                </script>
                <script type="dojo/method" data-dojo-event="mayHaveChildren" data-dojo-args="object">
                    return "children" in object;
                </script>
            </div>
            <!-- Create the tree -->
            <div data-dojo-type="dijit/Tree"data-dojo-id="myTree" id="myTree"
                 data-dojo-props="model: sitesModel, persist: false, showRoot: false">
                <script type="dojo/on" data-dojo-event="click" data-dojo-args="item, node, evt">
                    siteName.set("content", "站点 <strong>"+node.label+"</strong> 有问题的页面:");
                    dojo.byId('doUrlSearch').click();
                </script>
            </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" id="treeBackground"
             data-dojo-props="region: 'bottom'">
        </div>
    </div>
    <div data-dojo-type="dijit/layout/BorderContainer" id="workspace"
         data-dojo-props="region: 'center'"
         class="centerPanel">
        <div data-dojo-type="dijit/layout/BorderContainer" id="searchForUrl"
             data-dojo-props="region: 'top'">
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-id="siteName" id="siteName"
                 data-dojo-props="region: 'center'">
                请先从左边站点树中选中一个站点...
            </div>
            <div data-dojo-type="dijit/layout/BorderContainer" id="searchUrl"
                 data-dojo-props="region: 'right'">
                <div data-dojo-type="dijit/layout/ContentPane" id="searchLeft"
                     data-dojo-props="region: 'left'"
                     style="margin-left: 0px">
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" id="urlToSearch"
                     data-dojo-props="region: 'center'">
                    <input data-dojo-type="dijit/form/TextBox" data-dojo-id="urlToSearch" id="txtUrlToSearch"
                           data-dojo-props="trim:true"
                           type="text" value="" style="width: 220px;border: 0"/>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" id="urlSearch"
                     data-dojo-props="region: 'right'">
                    <button data-dojo-type="dijit/form/Button"
                            id="doUrlSearch" type="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
                            if (!myTree.selectedItems[0]) return;

                            var widget = dijit.byId("urlTable");
                            if (widget) widget.destroy(true);

                            require([
                                "dojo/store/JsonRest",
                                "dojo/store/Memory",
                                "dojo/store/Cache",
                                "dojox/grid/EnhancedGrid",
                                "dojox/grid/enhanced/plugins/Pagination",
                                "dojo/data/ObjectStore",
                                "dojo/dom-attr",
                                "dojo/domReady!"
                            ], function(JsonRest, Memory, Cache, EnhancedGrid, Pagination, ObjectStore){
                                var myStore, dataStore, grid;
                                myStore = new Cache(JsonRest({target:"/failed_pages/"+myTree.selectedItems[0].id+
                                    "?includedUrlString="+escape(urlToSearch.value), idProperty: "Id"}),
                                    new Memory({ idProperty: "Id" }));
                                grid = new EnhancedGrid({
                                    selectable: true,
                                    store: dataStore = new ObjectStore({objectStore: myStore}),
                                    structure: [
                                        {name:"ID", field:"id", width: "168px"},
                                        {name:"URL", field:"url", width: "auto"},
                                        {name:"问题", field:"problem", width: "96px"}
                                    ],
                                    rowSelector: '20px',
                                    plugins: {
                                        pagination: {
                                            pageSizes: ["20", "50", "100", "500"],
                                            description: true,
                                            sizeSwitch: true,
                                            pageStepper: true,
                                            gotoButton: true,
                                            maxPageStep: 5,
                                            position: "bottom" }
                                        }
                                    }, "urlTable"); // make sure you have a target HTML element with this id
                                grid.startup();
                            });
                        </script>
                    </button>
                </div>
            </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'center'"
             id="urlTableContainer">
            <div id="urlTable"></div>
       </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'bottom'"
         id="bottom" class="edgePanel">
        技术支持：北京银河万佳电子技术有限公司
    </div>
</div>

<% include footer.html %>
